
RewriteEngine On

# Prepend subdomain www if there is none (HTTP):
RewriteCond %{HTTP_HOST} !^www\.
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]

# Prepend subdomain www if there is none (HTTPS):
RewriteCond %{HTTP_HOST} !^www\.
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301]

# Disable access to internal data/PHP code by hiding it
RewriteCond %{REQUEST_FILENAME} /_[a-z].*
RewriteRule ^ - [L,R=403]

# Error documents
ErrorDocument 404 /error-404.php
ErrorDocument 403 /error-403.php
