
BODY {
    background: rgb(255, 255, 255);
    margin: 3em 7em;
    font-family: sans-serif; 
    max-width: 800px
}

H1 {
    margin: 0px;
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid rgb(0,0,0);
}

H2 {
    margin: 1em 0px 0px 0px;
    padding: 0px;
    text-align: left;
}

H3 {
    margin: 0em;
    padding: 0em;
    text-align: left;
}

P {
    margin: 1em;
}

CODE {
    margin: 1em 3em;
    padding: 0.5em 1em;
    background: rgb(223,223,223);
    border: 1px solid rgb(191,191,191);
}

UL, OL {
    margin: 0px 0px 0px 2em;
    padding: 0px;
}

LI {
    margin: 0.5em 0px;
    padding: 0px;
}

A {
    color: rgb(63, 63, 191);
    background: transparent;
}

A:visited {
    color: rgb(95, 31, 127);
}

A:hover {
    background: rgb(223, 223, 255);
}

A IMG {
    background: transparent;
    border: 0px;
    padding: 3px;
}

A:hover IMG {
    background: rgb(223, 223, 255);
}

#header {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
}

#header_download {
    padding: 1em;
    border: rgb(0, 200, 0);
    float: right;
    font-size: 80%;
    vertical-align: middle;
    line-height: 32px;
}

#header_download A, #header_download A:visited {
    color: rgb(191,191,191);
    background-color: rgb(0,0,0);
    text-decoration: none;
}

#header_download A:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0,0,0);
}

#header_download A IMG {
    vertical-align: middle;
    background-color: rgb(0,0,0);
}

#menu {
    background-color: rgb(95,95,95);
    margin-down: 3em;
    padding: 0.2em 0.5em;
    text-align: center;
}

#menu A, #menu A:visited {
    color: rgb(191,191,191);
    background-color: rgb(95,95,95);
    font-weight: bold;
    padding: 0.2em 0.5em;
    text-decoration: none;
}

#menu A.active {
    color: rgb(0,0,0);
    background-color: rgb(255, 191, 127);
}

#menu A:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(127,127,127);
}

#footer {
    margin-top: 3em;
    text-align: center;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-size: 80%;
}

#footer IMG {
    vertical-align: middle; aaa
}

#teaser {
    margin-top: 1em;
    padding-top: 183px;
    background: url('teaser.jpg') no-repeat top center;
    text-align: center;
}


