
BODY {
    background: rgb(255,255,255);
    margin: 3em auto;
    font-family: arial, helvetica, sans-serif;
    max-width: 800px;
}

H1 {
    margin: 0;
    padding: 12px 0px 0px 12px;
    text-align: left;
    border-bottom: 1px solid rgb(0,0,0);
}

H2 {
    clear: both;
    margin: 1em 0px 0.5em 0px;
    padding: 0;
    text-align: left;
}

H3 {
    margin: 0em;
    padding: 0em;
    text-align: left;
}

.hinline {
    font-weight: bolder;
}

CODE {
    margin: 1em 3em;
    padding: 0.5em 1em;
    background: rgb(223,223,223);
    border: 1px solid rgb(191,191,191);
}

UL, OL {
    margin: 0px 1em 0px 2em;
    padding: 0;
}

LI {
    margin: 0.5em 0px;
    padding: 0;
}

TABLE {
    border-collapse: collapse;
}

TH {
    background-color: rgb(223,223,223)
}

TH, TD {
    text-align: left;
    border: 1px solid rgb(191,191,191);
    padding: 0.1em 0.2em;
}

A {
    color: rgb(63,63,191);
    background: transparent;
}

A:visited {
    color: rgb(95,31,127);
}

A:hover {
    background: rgb(223,223,255);
}

A IMG {
    background: transparent;
    vertical-align: middle;
    border: 0;
    padding: 3px;
}

A:hover IMG {
    background: rgb(223,223,255);
}

A#github IMG {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    padding: 0;
    background: transparent;
}

#header {
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
}

#header #subtitle {
    margin: 0;
    padding: 0px 0px 12px 14px;
    font-size: 80%;
}

#menu {
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    background-color: rgb(95,95,95);
    margin-down: 3em;
    padding: 0.5em 0.5em 0.2em 0.5em;
    text-align: center;
}

#menu A, #menu A:visited {
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    color: rgb(191,191,191);
    background-color: rgb(95,95,95);
    font-weight: bold;
    padding: 0.2em 0.5em;
    text-decoration: none;
}

#menu A.active {
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
}

#menu A:hover {
    color: rgb(255,255,255);
    background-color: rgb(127,127,127);
}

#main P {
    margin: 1em;
}

#main TABLE {
    margin: 0em 2em;
}

#footer {
    border-radius: 5px;
    -moz-border-radius: 5px;
    clear: both;
    margin-top: 3em;
    padding: 0.4em 1em;
    text-align: right;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-size: 70%;
}

.info {
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 2em;
    padding: 12px 16px 12px 80px;
    background: rgb(223,223,255) url('icon/info.png') no-repeat 16px center;
    border: solid 1px rgb(191,191,255);
}

.info#direction {
    background-image: url('icon/direction.png');
}

.gallery {
    float: right;
    margin: 0px 0.5em 0.5em 0.5em;
}
