
BODY {
    background: rgb(255,255,255);
    margin: 3em auto;
    font-family: arial, helvetica, sans-serif;
    max-width: 800px
}

H1 {
    margin: 0px;
    padding: 12px 0px 0px 12px;
    text-align: left;
    border-bottom: 1px solid rgb(0,0,0);
}

H2 {
    clear: both;
    margin: 1em 0px 0.5em 0px;
    padding: 0px;
    text-align: left;
}

H3 {
    margin: 0em;
    padding: 0em;
    text-align: left;
}

.hinline {
    font-weight: bolder;
}

CODE {
    margin: 1em 3em;
    padding: 0.5em 1em;
    background: rgb(223,223,223);
    border: 1px solid rgb(191,191,191);
}

UL, OL {
    margin: 0px 1em 0px 2em;
    padding: 0px;
}

LI {
    margin: 0.5em 0px;
    padding: 0px;
}

TABLE {
    border-collapse: collapse;
}

TH {
    background-color: rgb(223,223,223)
}

TH, TD {
    text-align: left;
    border: 1px solid rgb(191,191,191);
    padding: 0.1em 0.2em;
}

A {
    color: rgb(63,63,191);
    background: transparent;
}

A:visited {
    color: rgb(95,31,127);
}

A:hover {
    background: rgb(223,223,255);
}

A IMG {
    background: transparent;
    vertical-align: middle;
    border: 0px;
    padding: 3px;
}

A:hover IMG {
    background: rgb(223,223,255);
}

#header {
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
}

#header #subtitle {
    margin: 0px;
    padding: 0px 0px 12px 14px;
    font-size: 80%;
}

#header #download {
    float: right;
    padding: 2em 1em 0em 1em;
    border: rgb(0,200,0);
    font-size: 80%;
    vertical-align: bottom;
    line-height: 32px;
}

#header #download A, #header #download A:visited {
    color: rgb(191,191,191);
    background-color: rgb(0,0,0);
    text-decoration: none;
}

#header #download A:hover {
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);
}

#header #download A IMG {
    vertical-align: middle;
    background-color: rgb(0,0,0);
}

#menu {
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    background-color: rgb(95,95,95);
    margin-down: 3em;
    padding: 0.5em 0.5em 0.2em 0.5em;
    text-align: center;
}

#menu A, #menu A:visited {
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    color: rgb(191,191,191);
    background-color: rgb(95,95,95);
    font-weight: bold;
    padding: 0.2em 0.5em;
    text-decoration: none;
}

#menu A.active {
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
}

#menu A:hover {
    color: rgb(255,255,255);
    background-color: rgb(127,127,127);
}

#main P {
    margin: 1em;
}

#main TABLE {
    margin: 0em 2em;
}

#footer {
    border-radius: 5px;
    -moz-border-radius: 5px;
    clear: both;
    margin-top: 3em;
    padding: 0.2em;
    text-align: center;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    font-size: 80%;
}

#footer IMG {
    vertical-align: middle;
}

.attention {
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 1em;
    padding: 12px 16px 12px 80px;
    background: rgb(223,223,255) url('icon/question.png') no-repeat 16px center;
    border: solid 1px rgb(191,191,255);
}

.gallery {
    float: right;
    margin: 0px 1em 1em 1em;
}

.status_done {
    background-color: rgb(223,255,233);
}

.status_wip {
    background-color: rgb(255,255,233);
    background-color: rgb(255,207,159);
}

.status_todo {
    background-color: rgb(255,223,233);
}

.legend {
    padding: 1em;
    font-size: 80%;
}
